#auditWrap
	#auditClose
		span.fa.fa-close
	#auditContentWrap
		.leftTxWrap
			#auditLegend AUDIT
			#marbleIdWrap 
				span Part
				div#marbleId -
			span.ball.largePart.bluebg.auditPart

		.txHistoryWrap
			.auditHint Click a Part to Audit Its Transactions